<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ultari.additional.mapper.common.PasswordMapper">
	<insert id="regist">
INSERT INTO MSG_PASSWORD (
	  USER_ID
	, PASSWORD
) VALUES (
	  #{key}
	, #{newPassword}
)
ON DUPLICATE KEY UPDATE
	PASSWORD=#{newPassword}
	</insert>
	<delete id="remove">
DELETE FROM MSG_PASSWORD WHERE USER_ID=#{key}
	</delete>
	<select id="passwordByKey" resultType="string">
SELECT PASSWORD FROM MSG_USER_VW WHERE USER_ID=#{key}
	</select>
</mapper>