<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">

<head>
    <link rel="stylesheet" th:href="@{/css/survey/survey-mobile.css}">
    <script type="text/javascript" th:src="@{/js/survey/popup.js}"></script>
</head>

<body>
    <div id="common-popup" class="popup hidden" th:fragment="popup"></div>
</body>

</html>